<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <!-- Filter by the Title   -->
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <!-- this is long format of 2 way binding. concept here-->
                    long 2 way :<input type='text' #testfilterRef [ngModel]='testfilter' 
                                        (ngModelChange)='ontestFilterChange($event)'/>
                    <div [hidden]='!testfilter'>testFilter : {{testfilter}}</div>
                            <!-- concept end-->
                    <div>
                get-set :<input type="text" [(ngModel)] = 'getsetexample'/></div>

               <div> list-filter: <input type='text' [(ngModel)]='listFilter'/></div>
            </div>
        </div>
        <div class='row' [hidden]='!listFilter'>
            <div class='col-md-10'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
<br>
        <div class="row">
                <label for="ipvalue5">Child Mapper :</label>
                <input type="text" #ipvalue5 [(ngModel)]='ngmodel5' name="ipvalue5" id="ipvalue5"/>
                
                <pm-criteria #critemplate [enteredValue] = "'jayanth'"
                        [dynamicValue] = "dynamicValue"
                        [hitCount] =  filteredProducts?.length
                        [parentChange] = "newparentvalue"></pm-criteria>

                        <pm-criteria #critemplate2 [enteredValue] = "'jayanth2'"
                        [dynamicValue] = "dynamicValue"
                        [hitCount] =  filteredProducts?.length
                        [parentChange] = "newparentvalue"></pm-criteria>
            </div>

        <div class='table-responsive'>
            <table class='table'
                    *ngIf='products && products.length' #tableRef>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td>
                            <img *ngIf='showImage && product.imageUrl'
                                 [src]='product.imageUrl'
                                 [title]='product.productName'
                                 [style.width.px]='imageWidth'
                                 [style.margin.px]='imageMargin'>
                        </td>
                        <td><a [routerLink]="['/products', product.id]">
                                {{ product.productName }}
                            </a>
						</td>
                        <td>{{ product.productCode }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                        <td>
                            <pm-star [rating]='product.starRating'>
							</pm-star>
                        </td>
                        <td>
                            <a class="btn btn-primary" 
                                [routerLink]="['/products', product.id, 'edit']">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="text" #ipvalue/>
<input type="text" #ipvalue2/>
<input type="text" #ipvalue3/>
<br>





<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>