<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div><app-courses-mh></app-courses-mh> - <app-courses2-mh></app-courses2-mh></div>

  <div><app-test-cli></app-test-cli></div>
  <div><app-data-binding-example (change3)="changeFired($event)"></app-data-binding-example></div>
  <!-- this doesnt work
    as change3 is not fired from app-courses component-->

  <div><app-courses (change2)="changeFired($event)"></app-courses></div> <!-- this doesnt work
  as change2 is not fired from app-courses component-->

  <div>
  <app-star [isFav] = "isFavi"
            [jayanth] = "jayanth"
            [obj] = "obj"
            [star-name] = "star"
            (change) = "changeFired($event)">
  </app-star>
  </div>

  <app-bootstrap-panel>
    <div class="header"> this is header passed to reusable component with noise</div>
    <div class="body"> this is header passed to reusable component</div>
    <ng-container class="footer">Footer with no noise</ng-container>
  </app-bootstrap-panel>

 </div>


