<mat-card class="login-page">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="login-form">

            <mat-form-field>

                <input matInput type="email"
                       placeholder="Email"
                       formControlName="email">

            </mat-form-field>

            <mat-form-field>

                <input matInput type="password"
                       placeholder="Password"
                       formControlName="password">

            </mat-form-field>

<button mat-raised-button color="primary" (click)="login()" [disabled]="!form.valid">Login</button>
<button mat-raised-button color="accent" (click)="accent()">Test Accent</button>
          <!--<button mat-icon-button color="warn">
              <mat-icon aria-label="Example icon-button with a heart icon">English ?</mat-icon>
            </button>-->
          <div class="button-row">
            <button mat-mini-fab color="warn" (click)="language('en')">En</button>
            <button mat-mini-fab color="primary" (click)="language('kn')">Kn</button>

            <button mat-mini-fab color="primary" (click)="requestPrime('Jayanth')">Prime Needed ?</button>
          </div>


        </form>
    </mat-card-content>
</mat-card>
